@{
    ViewData["Title"] = "Ввод данных о заемщике";
}

@model Company
<form asp-controller="Home" asp-action="Index" method="post">
<div class="form-group">
    <label asp-for="INN">ИНН</label>
    <input type="text" class="form-control" placeholder="ИНН" asp-for="INN">
</div>
<div class="form-group">
    <label asp-for="DefaultProbability">Вероятность дефолта</label>
    <input type="text" class="form-control" disabled asp-for="DefaultProbability">
</div>
<p>Нефинансовые показатели кредитного риска</p>
<div class="form-group">
    <label asp-for="MacroeconomicRisk">Макроэкономический риск</label>
    <select class="form-control" asp-for="MacroeconomicRisk">
        <option value="0">Высокий</option>
        <option value="0,5">Средний</option>
        <option value="1">Низкий</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="IndustryRating">Рейтинг отрасли</label>
    <select class="form-control" asp-for="IndustryRating">
        <option value="1">Высокий</option>
        <option value="2">Выше среднего</option>
        <option value="3">Средний</option>
        <option value="4">Ниже среднего</option>
        <option value="5">Низкий</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="BusinessModelRisk">Риск бизнес-модели:</label>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="BusinessModelRisk" value="1">
        <label class="form-check-label" asp-for="BusinessModelRisk">Низкий</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="BusinessModelRisk" value="0">
        <label class="form-check-label" asp-for="BusinessModelRisk">Высокий</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="OrganizationStructureRisk">Есть ли риск организацнонной структуры?</label>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="OrganizationStructureRisk" value="1">
        <label class="form-check-label" asp-for="OrganizationStructureRisk">Да</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="OrganizationStructureRisk" value="-1">
        <label class="form-check-label" asp-for="OrganizationStructureRisk">Нет</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="PositiveShareholders">Есть ли положительная информация по составу акционеров?</label>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="PositiveShareholders" value="1">
        <label class="form-check-label" asp-for="PositiveShareholders">Да</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="PositiveShareholders" value="0">
        <label class="form-check-label" asp-for="PositiveShareholders">Нет</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="NegativeShareholders">Есть ли отрицательная информация по составу акционеров?</label>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="NegativeShareholders" value="-1">
        <label class="form-check-label" asp-for="NegativeShareholders">Да</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="NegativeShareholders" value="0">
        <label class="form-check-label" asp-for="NegativeShareholders">Нет</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="DesireToInvest">Вкладывают ли собственники дополнительные средства в бизнес?</label>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="DesireToInvest" value="1">
        <label class="form-check-label" asp-for="DesireToInvest">Да</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="DesireToInvest" value="0">
        <label class="form-check-label" asp-for="DesireToInvest">Нет</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="WithdrawalFunds">Изымают ли собственники дополнительные средства из бизнеса?</label>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="WithdrawalFunds" value="-1">
        <label class="form-check-label" asp-for="WithdrawalFunds">Да</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="WithdrawalFunds" value="0">
        <label class="form-check-label" asp-for="WithdrawalFunds">Нет</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="OwnershipConflict">Наличие споров по доле в собственном капитале или активам компании между собственниками:</label>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="OwnershipConflict" value="-1">
        <label class="form-check-label" asp-for="OwnershipConflict">Есть</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="OwnershipConflict" value="0">
        <label class="form-check-label" asp-for="OwnershipConflict">Нет</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="ManagementShareholdersConflict">Наличие конфликтов между руководством и акционерами компании:</label>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="ManagementShareholdersConflict" value="-1">
        <label class="form-check-label" asp-for="ManagementShareholdersConflict">Есть</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="ManagementShareholdersConflict" value="0">
        <label class="form-check-label" asp-for="ManagementShareholdersConflict">Нет</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="ProductConcentration">Бизнес компании сконцентрирован на одном виде продукции?</label>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="ProductConcentration" value="-1">
        <label class="form-check-label" asp-for="ProductConcentration">Да</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="ProductConcentration" value="1">
        <label class="form-check-label" asp-for="ProductConcentration">Нет</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="NonMarketAdvantages">Есть ли у компании нерыночные преимущества, дающие особый статус или положение на рынке?</label>
      
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="NonMarketAdvantages" value="-1">
        <label class="form-check-label" asp-for="NonMarketAdvantages">Да</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="NonMarketAdvantages" value="0">
        <label class="form-check-label" asp-for="NonMarketAdvantages">Нет</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="PositiveWithSuppliers">Наличие преимуществ при переговорах, способность диктовать условия поставщикам:</label>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="PositiveWithSuppliers" value="1">
        <label class="form-check-label" asp-for="PositiveWithSuppliers">Есть</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="PositiveWithSuppliers" value="-1">
        <label class="form-check-label" asp-for="PositiveWithSuppliers">Нет</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="ConcentrationOfSuppliers">Наличие постащиков, занимающих более 20% в структуре поставок:</label>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="ConcentrationOfSuppliers" value="-1">
        <label class="form-check-label" asp-for="ConcentrationOfSuppliers">Есть</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="ConcentrationOfSuppliers" value="1">
        <label class="form-check-label" asp-for="ConcentrationOfSuppliers">Нет</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="PositiveWithBuyers">Наличие преимуществ при переговорах, способность диктовать условия покупателям:</label>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="PositiveWithBuyers" value="1">
        <label class="form-check-label" asp-for="PositiveWithBuyers">Есть</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="PositiveWithBuyers" value="-1">
        <label class="form-check-label" asp-for="PositiveWithBuyers">Нет</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="ConcentrationOfBuyers">Наличие покупателей, занимающих более 20% в структуре поставок:</label>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="ConcentrationOfBuyers" value="-1">
        <label class="form-check-label" asp-for="ConcentrationOfBuyers">Есть</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="ConcentrationOfBuyers" value="1">
        <label class="form-check-label" asp-for="ConcentrationOfBuyers">Нет</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="OwnFundsTransaction">Участие в финансировании сделки собственными средствами:</label>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="OwnFundsTransaction" value="1">
        <label class="form-check-label" asp-for="OwnFundsTransaction">Да</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="OwnFundsTransaction" value="-1">
        <label class="form-check-label" asp-for="OwnFundsTransaction">Нет</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="OwnFundsTransaction">Адекватны ли источники погашения?</label>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="OwnFundsTransaction" value="1">
        <label class="form-check-label" asp-for="OwnFundsTransaction">Да</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" asp-for="OwnFundsTransaction" value="-1">
        <label class="form-check-label" asp-for="OwnFundsTransaction">Нет</label>
    </div>
</div>

<p>Финансовые показатели кредитного риска</p>
<p>Все значения указываются в тысячах рублей и за последний отчётный период, если не указано иное</p>
<p>Заполняется по бухгалтерсому балансу:</p>
<div class="form-group">
    <label asp-for="Code_12103">Запасы</label>
    <input type="number" class="form-control" placeholder="Запасы" asp-for="Code_12103">
</div>
<div class="form-group">
    <label asp-for="Code_12104">Запасы - на 31 декабря предыдущего года</label>
    <input type="number" class="form-control" placeholder="Запасы - на 31 декабря предыдущего года" asp-for="Code_12104">
</div>
<div class="form-group">
    <label asp-for="Code_12303">Дебиторская задолженность</label>
    <input type="number" class="form-control" placeholder="Дебиторская задолженность" asp-for="Code_12303">
</div>
<div class="form-group">
    <label asp-for="Code_12304">Дебиторская задолженность - на 31 декабря предыдущего года</label>
    <input type="number" class="form-control" placeholder="Дебиторская задолженность - на 31 декабря предыдущего года" asp-for="Code_12304">
</div>
<div class="form-group">
    <label asp-for="Code_12503">Денежные средства и денежные эквиваленты</label>
    <input type="number" class="form-control" placeholder="Денежные средства и денежные эквиваленты" asp-for="Code_12503">
</div>
<div class="form-group">
    <label asp-for="Code_12003">Итого оборотных активов</label>
    <input type="number" class="form-control" placeholder="Итого оборотных активов" asp-for="Code_12003">
</div>
<div class="form-group">
    <label asp-for="Code_16003">Баланс</label>
    <input type="number" class="form-control" placeholder="Баланс" asp-for="Code_16003">
</div>
<div class="form-group">
    <label asp-for="Code_13003">Итого капитала и резервов</label>
    <input type="number" class="form-control" placeholder="Итого капитала и резервов" asp-for="Code_13003">
</div>
<div class="form-group">
    <label asp-for="Code_14003">Итого долгосрочных обязательств</label>
    <input type="number" class="form-control" placeholder="Итого долгосрочных обязательств" asp-for="Code_14003">
</div>
<div class="form-group">
    <label asp-for="Code_15203">Кредиторская задолженность</label>
    <input type="number" class="form-control" placeholder="Кредиторская задолженность" asp-for="Code_15203">
</div>
<div class="form-group">
    <label asp-for="Code_15204">Кредиторская задолженность - на 31 декабря предыдущего года</label>
    <input type="number" class="form-control" placeholder="Кредиторская задолженность - на 31 декабря предыдущего года" asp-for="Code_15204">
</div>
<div class="form-group">
    <label asp-for="Code_15003">Итого краткосрочных обязательств</label>
    <input type="number" class="form-control" placeholder="Итого краткосрочных обязательств" asp-for="Code_15003">
</div>
<p>Заполняется по отчёту о финансовых результатах:</p>
<div class="form-group">
    <label asp-for="Code_24003">Чистая прибыль (убыток) - за последние 4 квартала</label>
    <input type="number" class="form-control" placeholder="Чистая прибыль (убыток) - за последние 4 квартала" asp-for="Code_24003">
</div>
<div class="form-group">
    <label asp-for="Code_22003">Прибыль (убыток) от продаж - за последние 4 квартала</label>
    <input type="number" class="form-control" placeholder="Прибыль (убыток) от продаж - за последние 4 квартала" asp-for="Code_22003">
</div>
<div class="form-group">
    <label asp-for="Code_21103">Выручка - за последние 4 квартала</label>
    <input type="number" class="form-control" placeholder="Выручка - за последние 4 квартала" asp-for="Code_21103">
</div>

<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" asp-action="Index"/>
</div>
</form>