@model CreditRisks.Models.CompanyFile

@{
    Layout = "_Layout";
    ViewData["Title"] = "Ввод данных о заемщике из файла";
}

<form asp-controller="CompanyFile" asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Inn">ИНН</label>
        <input asp-for="Inn" class="form-control" placeholder="ИНН" required type="text">
    </div>
<div class="form-group">
    @if (Model != null)
    {
        <table class="table table-striped">
            <caption style="caption-side: top">Расчет вероятности дефолта</caption>
            <thead>
            <tr>
                <th scope="col">Название модели предсказания</th>
                <th scope="col">Вероятность дефолта</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var pair in Model.DefaultProbability)
            {
                <tr>
                    <th scope="row"> @pair.Key</th>
                    <td> @pair.Value</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
    <div class="form-group">
        <label asp-for="File">Файл с отчетностью</label>
        <input asp-for="File" required type="file">
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit" asp-action="Index"/>
    </div>
</form>