catboost==0.20.2
cycler==0.10.0
grpcio==1.26.0
joblib==0.14.1
kiwisolver==1.1.0
matplotlib==3.1.2
mysql-connector-python==8.0.18
numpy==1.18.1
pandas==0.25.3
protobuf==3.11.2
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.22.1
scipy==1.4.1
six==1.13.0
zipp==0.6.0
