
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <form id="control">
        <div class="form-group">
            <label for="files">Выберите файл датасета </label>
            <input type="file" id="files" name="file" class="form-control-file">
        </div>
    </form>
    <div id="result" class="container">

    </div>

    <div id="result2" class="container">

    </div>
</div>

<script type="text/javascript">
    function add_content_to(cl, text, tag, parent) {
        //body = document.getElementById("output");
        elem = document.createTextNode( text );
        elem.className = cl;
        parent.appendChild(elem);
        return parent
    }

    function create_add_input(id, text, parent) {
        //body = document.getElementById("output");
        elem = document.createElement( "input" );
        elem.className = 'form_control';
        elem.type = 'text';
        elem.id = id;
        elem.defaultValue = text;
        parent.appendChild(elem);
        return parent
    }
</script>

<script type="text/javascript">
    $(function () {
        $('#files').on('change', function (evt) {
            let files = document.getElementById('files').files;
            if (!files.length) {
                alert('Please select a file!');
                return;
            }
            let reader = new FileReader();
            reader.onloadend = function (evt) {

                if (evt.target["readyState"] !== FileReader.DONE) {
                    return;
                }
                let target = $("#result").empty();
                let target2 = $("#result2").empty();
                let table_print = document.getElementById("result2");
                let content = evt.target['result'].split('\n');
                var dict = {};
                var names = [];
                for (let i = 0; i < content.length; i++) {
                    if (content[i] === '') {
                        continue;
                    }
                    let row = content[i].split('\t');
                    let feat_name = row[0].split('_');
                    if (feat_name.length === 3) {
                        if (!(feat_name[2] in dict)) {
                            dict[feat_name[2]] = {};
                            names.push(feat_name[2]);
                        }
                        dict[feat_name[2]][feat_name[1]] = row[1];

                    }
                    // target.append(`<div class="row">${row[0]} = ${row[1]}</div>`)
                }
                console.log(dict);
                console.log(names);
                var table = document.createElement("table");
                table.className = "table table-striped table-borderless";
                thead = document.createElement("thead");
                tr = document.createElement("tr");
                th = document.createElement("th");
                th = add_content_to("", "#", "", th);
                tr.append(th);
                th = document.createElement("th");
                th = add_content_to("", "name", "", th);
                tr.append(th);
                th = document.createElement("th");
                th = add_content_to("", "curr_year", "", th);
                tr.append(th);
                th = document.createElement("th");
                th = add_content_to("", "last_year", "", th);
                tr.append(th);
                thead.append(tr);
                table.append(thead);
                tbody = document.createElement("tbody");
                for (let i = 0; i < names.length; i++) {
                    let el = dict[names[i]];

                    tr = document.createElement("tr");
                    tr.id = "raw_" + names[i];

                    //<th scope="row">1</th>
                    th = document.createElement("th");
                    th.scope = "row";
                    th = add_content_to("", (i + 1).toString(), "", th);
                    tr.appendChild(th);

                    td = document.createElement("td");
                    td = add_content_to("", names[i], "", td);
                    tr.appendChild(td);

                    td = document.createElement("td");
                    if (0 in el) {
                        // td = add_content_to("", el[0], "", td);
                        td = create_add_input("dt_0_" + names[i], el[0], td);
                    } else {
                        td = add_content_to("", "empty)", "", td);
                    }
                    tr.appendChild(td);

                    td = document.createElement("td");
                    if (-1 in el) {
                        td = create_add_input("dt_-1_" + names[i], el[-1], td);
                    } else {
                        td = add_content_to("", "empty)", "", td);
                        // td = create_add_input("dt_0_" + names[i], el[-1], td);
                    }
                    tr.appendChild(td);
                    tbody.appendChild(tr);
                    table.appendChild(tbody)
                }
                table_print.appendChild(table)
            };
            let blob = files[0].slice(0, files[0].size);
            reader.readAsBinaryString(blob);

        });
    });

</script>
</body>
</html>
